## Load resources
services:
    tracking.onLoadLayersGetTrackingData:
        class: con4gis\TrackingBundle\Classes\TrackingFrontend
        tags:
            - { name: kernel.event_listener, event: maps.layers.load, method: addLocations, priority: 2048 }


    con4gis\TrackingBundle\Command\AddressTranslationCommand:
        tags:
            - { name: 'console.command', command: 'tracking:translate-addresses' }


    tracking.onPerformSearchDoIt:
        class: con4gis\TrackingBundle\Classes\Listener\PerformSearchListener
        tags:
            - { name: kernel.event_listener, event: maps.search.perform, method: onPerformSearchDoIt, priority: 422 }
        arguments:
            - "@request_stack"

    tracking.onLoadMapDataDoIt:
        class: con4gis\TrackingBundle\Classes\Listener\LoadMapDataListener
        tags:
            - { name: kernel.event_listener, event: maps.mapdata.load, method: onLoadMapDataDoIt, priority: 6900 }